
<div class="row-fluid">
    <div class="col-md-8">
        <div class="jumbotron">
            <h1>SAPO</h1>
            <p>Sistema de administración de pacientes odontológicos</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row-fluid">
            <div class="page-header">
                <h2>Iniciar sesión</h2>
            </div>
        </div>
        <div class="row-fluid">
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input type="text" class="form-control" ng-model="userName" placeholder="Nombre de usuario" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="basic-addon2">* </span>
                    <input type="text" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon2">
                </div>
            </div>
        </div>
    </div>



</div>
